* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 25px;
    background-color: #111111;
}

header {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.header-img {
    height: 45px;
}

.header-title {
    color: #ffffff;
    font-weight: 400;
}

.table-container {
    display: flex;
    gap: 5px;
    padding: 25px 0;
}

.table-column {
    width: 170px;
}

.table-row {
    width: 155px;
    height: 35px;
    border: 1px solid #616161;
    border-bottom: 0px;
    background-color: #151515;
    padding: 2px 2px 2px 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.table-row:last-child {
    border-bottom: 1px solid #616161;
}

.column-header {
    position: sticky;
    top: 0px;
    padding: 4px 2px;
    border: 1px solid #616161;
    width: 155px;
    border-bottom: 0;
    background-color: #151515;
    color: white;
    font-weight: 400;
    font-size: 17.5px;
}

.row-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2px;
    margin-bottom: 5px;
    color: #616161;
}

.row-dayDate {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #616161;
    font-size: 10px;
}

.row-day, .row-date {
    font-size: 10px;
    font-weight: 300;
}

.row-comp {
    font-size: 10px;
    
    font-weight: 300;
}

.row-fixResult {
    font-size: 10px;
    color: white;
}
